body{
    margin: 0;
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}


header{
    height: 96px;
    position: relative;
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

header img{
    padding-left: 55px;
    width: 48px;
    height: 48px;
}

.header-separator{
    height: 1px;
    background: #FFFFFF;
    opacity: 0.25;
    position: absolute;
    margin-left: 175px;
    z-index: 9999;
}

.navbar{
    min-width: 830px;
    height: 96px;
    margin-left: auto;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 80px;
    gap: 48px;
}
header ul li a{
    font-weight: 700;
    font-family: "Barlow Condensed";
    font-size: 16px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
header ul li a span{
    font-weight: 400;
    margin-left: 8px;
}

a{
    text-decoration: none;
    color: #D0D6F9;
    position: relative;
}
a::before{
    content: "";
    background-color: #FFFFFF;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 54px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.active{
    color: #FFFFFF !important;
}

.active::before{
    content: "";
    background-color: #FFFFFF;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 54px;
    opacity: 1;
}

a:hover::before{
    content: "";
    background-color: #FFFFFF;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 54px;
    opacity: 0.5;
    transition: opacity .3s ease-in-out;
}

main{
    display: flex;
    align-items: flex-end;
    margin: 13% 14% 0 14%;
}

.content{
    margin-right: auto;
}


h1{
    font-family: "Bellefair";
    font-weight: 400;
    font-size: 150px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 35px;
}

h5{
    font-family: "Barlow Condensed";
    font-size: 28px;
    letter-spacing: 4.75px;
    color: #D0D6F9;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

p{
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 400;
    max-width: 470px;
    line-height: 32px;
}

.explore{
    background: #FFFFFF;
    border-radius: 50%;
    padding: 120px;
    height: 0px;
    position: relative;
}

.explore p{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    text-transform: uppercase;
    font-family: "Bellefair";
    letter-spacing: 2px;
    color: black;
    transform: translate(-50%, -50%);
    margin: 0;
}


.explore:hover{
    animation: pulsion 1.5s infinite linear;
}




@keyframes pulsion{
    0%{
        box-shadow: 0 0 0 0 rgb(255, 255, 255, 0.3);
        transform: scale(.98);
    }
    50%{
        transform: scale(1);
    }
    100%{
        box-shadow: 0 0 0 70px transparent;
    }
}